body {
    background-image: url("assets/FruitNinja2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0;
}

.button1 {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button1:hover {
    background-color: #45a049;
}
